*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Libre Franklin", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 2rem 2rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .intro {
  width: 100%;
}

.content .logo {
  display: block;
  margin: 0 auto;
  width: 18%;
}

.content .heading {
  color: #969696;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.content .heading .bold-heading {
  font-weight: 700;
  color: #151f29;
}

.content .text {
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
  color: #151f29;
}

.content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4.8rem;
}

.content .form.warning .warning-text {
  height: auto;
  visibility: visible;
  color: #ff5263;
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}

.content .form.warning input {
  border-color: #ff5263;
}

.content .form .warning-text {
  height: 0;
  visibility: hidden;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

.content .form input,
.content .form button {
  border-radius: 30px;
  padding: 0.7rem 0.8rem;
}

.content .form input {
  width: 100%;
  border: 1px solid #c2d3ff;
  margin-bottom: 0.5rem;
  color: #151f29;
}

.content .form input:focus {
  outline: 1px solid transparent;
  border-color: #4f7df3;
}

.content .form input::-webkit-input-placeholder {
  color: #c2d3ff;
}

.content .form input:-ms-input-placeholder {
  color: #c2d3ff;
}

.content .form input::-ms-input-placeholder {
  color: #c2d3ff;
}

.content .form input::placeholder {
  color: #c2d3ff;
}

.content .form button {
  border: 1px solid transparent;
  cursor: pointer;
  background: #4f7df3;
  color: #fff;
  font-size: 0.7rem;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.content .form button:focus {
  outline: 1px solid transparent;
  border-color: #c2d3ff;
  background-color: rgba(79, 125, 243, 0.8);
  color: #fff;
}

.content .form button:hover {
  background-color: rgba(79, 125, 243, 0.8);
}

.image {
  display: block;
  max-width: 100%;
  margin-bottom: 5rem;
}

footer {
  width: 100%;
}

footer .social-links {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7rem;
  margin-bottom: 2rem;
}

footer .social-links a {
  background-color: #fff;
  color: #4f7df3;
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 1px solid transparent;
}

footer .social-links a:hover {
  background-color: #4f7df3;
  color: #fff;
}

footer .social-links a:focus {
  outline: 1px solid transparent;
  border-color: #fff;
  background-color: #4f7df3;
  color: #fff;
}

footer .copyright {
  text-align: center;
  font-size: 0.7rem;
  color: #969696;
}

@media screen and (min-width: 50em) {
  .wrapper {
    padding: 4rem 30rem 2rem;
  }
  .content .logo {
    width: 10%;
  }
  .content .heading {
    font-size: 2.5rem;
  }
  .content .text {
    font-size: 1.2rem;
  }
  .content .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .form.warning .warning-text {
    margin-left: 0;
    margin-bottom: 0;
  }
  .content .form .warning-text {
    height: auto;
  }
  .content .form input {
    width: 20rem;
    margin-right: 0.5rem;
  }
  .content .form button {
    width: 10rem;
    height: 2.6rem;
  }
  .image {
    width: 100%;
    max-width: 30rem;
  }
  footer .social-links {
    width: 13rem;
  }
  footer .social-links a {
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */