$blue: hsl(223, 87%, 63%);
$paleBlue: hsl(223, 100%, 88%);
$lightRed: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$darkBlue: hsl(209, 33%, 12%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Libre Franklin", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5rem 2rem 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro {
    width: 100%;
  }
  .logo {
    display: block;
    margin: 0 auto;
    width: 18%;
  }
  .heading {
    color: $gray;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    .bold-heading {
      font-weight: 700;
      color: $darkBlue;
    }
  }
  .text {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
    color: $darkBlue;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.8rem;
    &.warning {
      .warning-text {
        height: auto;
        visibility: visible;
        color: $lightRed;
        margin-left: 1.2rem;
        margin-bottom: 2rem;
      }
      input {
        border-color: $lightRed;
      }
    }
    .warning-text {
      height: 0;
      visibility: hidden;
      transition: max-height 0.5s;
      font-size: 0.8rem;
      font-style: italic;
      text-align: center;
    }
    input,
    button {
      border-radius: 30px;
      padding: 0.7rem 0.8rem;
    }
    input {
      width: 100%;
      border: 1px solid $paleBlue;
      margin-bottom: 0.5rem;
      color: $darkBlue;
      &:focus {
        outline: 1px solid transparent;
        border-color: $blue;
      }
      &::placeholder {
        color: $paleBlue;
      }
    }
    button {
      border: 1px solid transparent;
      cursor: pointer;
      background: $blue;
      color: #fff;
      font-size: 0.7rem;
      transition: 0.5;
      &:focus {
        outline: 1px solid transparent;
        border-color: $paleBlue;
        background-color: rgba($blue, 0.8);
        color: #fff;
      }
      &:hover {
        background-color: rgba($blue, 0.8);
      }
    }
  }
}

.image {
  display: block;
  max-width: 100%;
  margin-bottom: 5rem;
}

footer {
  width: 100%;
  .social-links {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 7rem;
    margin-bottom: 2rem;
    a {
      background-color: #fff;
      color: $blue;
      border: 1px solid $paleBlue;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: 0.5s;
      outline: 1px solid transparent;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
      &:focus {
        outline: 1px solid transparent;
        border-color: #fff;
        background-color: $blue;
        color: #fff;
      }
    }
  }
  .copyright {
    text-align: center;
    font-size: 0.7rem;
    color: $gray;
  }
}

@media screen and (min-width: 50em) {
  .wrapper {
    padding: 5rem 25rem 2rem;
  }
  .content {
    .logo {
      width: 7%;
    }
    .heading {
      font-size: 2.5rem;
    }
    .text {
      font-size: 1.2rem;
    }
    .form {
      flex-direction: row;
      justify-content: center;
      &.warning {
        .warning-text {
          margin-left: 0;
          margin-bottom: 0;
        }
      }
      .warning-text {
        height: auto;
      }
      input {
        width: 20rem;
        margin-right: 0.5rem;
      }
      button {
        width: 10rem;
        height: 2.6rem;
      }
    }
  }
  footer {
    .social-links {
      width: 13rem;
      a {
        width: 50px;
        height: 50px;
      }
    }
  }
}
