*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Libre Franklin", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.intro .logo {
  width: 25%;
  margin-bottom: 3rem;
}

.intro .heading {
  font-size: 1.2rem;
  font-weight: 300;
  color: #969696;
  margin-bottom: 1rem;
}

.intro .heading .bold-heading {
  font-weight: 700;
  color: #151f29;
}

.intro .text {
  font-size: 0.775rem;
  color: #151f29;
  margin-bottom: 1.5rem;
}

.intro .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}

.intro .form .warning-text {
  display: none;
}

.intro .form.warning input {
  border-color: #ff5263;
}

.intro .form.warning .warning-text {
  display: block;
  color: #ff5263;
  margin: 1rem auto;
}

.intro .form input,
.intro .form button {
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
}

.intro .form input {
  margin-bottom: 0.5rem;
  border: 1px solid #c2d3ff;
}

.intro .form input:focus {
  outline: 1px solid transparent;
  border-color: #4f7df3;
}

.intro .form button {
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #4f7df3;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px #7ea0f6;
          box-shadow: 0 5px 10px #7ea0f6;
  outline: 1px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro .form button:hover {
  background-color: rgba(79, 125, 243, 0.8);
}

.intro .form button:focus {
  background-color: #fff;
  color: #4f7df3;
  border-color: #4f7df3;
}

.image {
  width: 100%;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

footer .social-links a {
  color: #4f7df3;
  border-radius: 50%;
  border: 1px solid #c2d3ff;
  padding: 1rem;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 1px solid transparent;
}

footer .social-links a:focus,
footer .social-links a:hover {
  background-color: #4f7df3;
  color: #fff;
}

footer .copyright {
  color: #969696;
}

@media screen and (min-width: 53.125em) {
  .intro .logo {
    width: 8%;
    margin-top: 5rem;
  }
  .intro .heading {
    font-size: 3rem;
  }
  .intro .text {
    font-size: 1rem;
  }
  .intro .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
    width: 50%;
  }
  .intro .form.warning {
    display: -ms-grid;
    display: grid;
    width: 50%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .intro .form.warning .warning-text {
    margin: 0.5rem 0 0 0.5rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .intro .form.warning button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .intro .form input {
    margin-bottom: 0;
    margin-right: 1rem;
    width: 20rem;
  }
  .intro .form button {
    width: 10rem;
  }
  .image {
    width: 45%;
    margin-bottom: 3rem;
  }
  footer .social-links {
    width: 15%;
  }
}
/*# sourceMappingURL=style.css.map */